@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_t6wpbftbu1g.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_t6wpbftbu1g.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_t6wpbftbu1g.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_t6wpbftbu1g.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_t6wpbftbu1g.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_t6wpbftbu1g.svg#AlibabaPuHuiTiL') format('svg'); /* iOS 4.1- */
}
body {
  font-family: webfont;
}

/*
    antd Card style
*/
$border: #c1c1c1;
.ant-card {
    border-radius: 5px;
}

/* waterfall */
.waterfall-wrap {
	column-count: 2;
	column-gap: 1em;

	.waterfall-item {
		margin-bottom: 1em;
		break-inside: avoid;

		.ant-progress-success-bg, .ant-progress-bg {
			transition: 1s;
		}
	}
}

@media all and (min-width: 1200px) {
	.waterfall-wrap {
		column-count: 3;
	}
}

@media all and (max-width: 768px) {
	.waterfall-wrap {
		column-count: 2;
	}
}

@media all and (max-width: 480px) {
	.waterfall-wrap {
		column-count: 1;
	}
}

