/* router-transition */
.router-transition-enter {
    left: -10px;
    opacity: 0;
    position: relative;
}

.router-transition-enter.router-transition-enter-active {
    opacity: 1;
    left: 0;
    transition: all 500ms ease-in;
}

.router-transition-exit {
    position: relative;
}

.router-transition-exit.router-transition-exit-active {
    opacity: 0;
    right: -100%;
    transition: all 300ms ease-in;
}

/* article-transition */
.article-transition-appear {
    top: 10px;
    opacity: 0;
    position: relative;
}

.article-transition-appear.article-transition-appear-active {
    opacity: 1;
    top: 0;
    transition: all 500ms ease-in;
}